.bg-g {
	background-image: url("/images/14.jpg");
	background-size: cover;
}

.bg-dark {
    background-image: url("/images/seamless.jpg");
	background-size: contain;
}
.bg-header {
    background-image: url("/images/9.jpg");
	background-size: cover;
	background-position-x: 300px;
}
.bg-header2{
	background-image: url("/images/bg_header.png");
	background-size: cover;
	
}
